@using System.Collections.ObjectModel;
@using Core.ado;
<body bgcolor="#B4E15E">
    <h1>Мероприятия</h1>
    
    <html>
    <head>
        <meta charset="utf-8">
        <title>Радиус</title>
        <style>
            #is {
                color: #fff;
                border-radius: 15px;
            }

            h2 {
                font-size: 20px;
                color: #673Ab7;
            }
        </style>
    </head>
    </html>


    @model ObservableCollection<Activity>
    <div class="row">
        @foreach (var activity in Model)
        {
            <div class="col-md-4 mb-5">
                <div class="card h-100" id="is">
                    <div class="card-body">
                        <div>
                            @if (activity.Photo != null)
                            {
                                @Html.Raw("<img style='width:300px; height:300px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(activity.Photo) + "\" />")
                            }
                        </div>
                        <h2 class="card-title text-center">
                            <label ="@activity.Name" target=_blank>@activity.Name</label>
                        </h2>
                        <div class="text-center">
                            <a class="btn btn-primary" asp-controller="Activity"
                               asp-action="WatchActivity" asp-route-id="@activity.Id"
                               role="button">
                                Посмотреть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </body>
